
html, body{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    
    background-image: linear-gradient(to right, #C8A2C8, slateblue);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

main{
    margin-left: 20px;
    margin-right: 20px;
    flex: 1;
}

.headerText{
    padding: 5px;
    margin: 5px;
    font-family: "Roboto", sans-serif;
    color: white;
    text-align: center;
}

.lists{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style-position: inside;
    text-align: center;
    padding: 3px;
}

/*Education Page table designs */
.educationTable{
    display: block;
    margin-left: auto;
    margin-right: auto;

    width: 300px;
    border-style: outset;
    border-width: 3px;
    border-radius: 10px;
    border-color: #C8A2C8;

    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    animation: glow 5s infinite;     
}

.educationTable th{
    text-align: left;
}
/*end of education page table designs */

p{
    color: white;
    margin: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    text-align: center;
}

/*Navigation Bar design */
.navbar ul{
    border-style: groove;
    border-color: #C8A2C8;
    border-radius: 10px;

    list-style-type: none;
    background-image: linear-gradient(to right, #C8A2C8, slateblue);
    padding: 0px;
    margin: 0px;

    text-align: center;
    overflow: hidden;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    width: 100px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}   

.navbar a:hover{
    background-image: linear-gradient(to top, #C8A2C8, slateblue);
    width: 100px;

    animation: glow 5s infinite;
    animation-play-state: running;
}

.navbar li{
    float: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar i{
    color: white;
}
/*End of nav bar design */

@keyframes glow{
    50%{box-shadow: 0px 0px 50px rgb(255, 215, 0)}
}

.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;     
}

footer{

    border-top-style: outset;
    border-top-width: 3px;
    border-top-color: #C8A2C8;
    
    text-align: center;
    padding: 10px; 
}

